<!--...::: CTA Section Start :::... -->
<section class="section-cta">
    <div class="relative bg-aotu-grey">
        <div class="py-[60px] lg:py-20 xl:py-[100px]">
            <div class="container-default">
                <div class="jos mb-[50px]">
                    <div class="mx-auto max-w-[700px]">
                        <h2 class="text-center text-white">
                            Coordiná una llamada con nosotros
                        </h2>
                        <p class="text-center text-white">
                            Descubrí cómo podemos ayudarte a encontrar los mejores proveedores en China y negociar como un experto.
                        </p>
                    </div>
                </div>
                <div class="jos flex justify-center">
                    <a href="https://calendly.com/aotu/conociendo-aotu" class="btn is-white is-large inline-block rounded">
                        <span>Agendar reunión</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="relative">
            <img src="/assets/img/aotu-cta-1.png" alt="shape-1" width="92" height="116" class="absolute left-[152px] top-[44px] hidden md:block" />
            <img src="/assets/img/aotu-cta-1.png" alt="shape-2" width="92" height="116" class="absolute bottom-10 right-[57px] hidden md:block" />
        </div>
    </div>
</section>