<!--...::: Footer Section Start :::... -->
<footer class="section-footer">
    <div class="bg-white">
        <!-- Footer Area Center -->
        <div class="text-gray-800">
            <!-- Footer Center Spacing -->
            <div class="py-[60px] lg:py-20">
                <!-- Section Container -->
                <div class="container-default">
                    <!-- Footer Widget List -->
                    <div class="grid gap-x-4 lg:gap-x-16 gap-y-10 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-[1fr_repeat(3,_auto)] xl:gap-x-20">
                        <!-- Footer Widget Item -->
                        <div class="flex flex-col gap-y-7 md:col-span-4 lg:col-span-1">
                            <!-- Footer Logo -->
                            <a href="/">
                                <img src="/assets/img/logo-aotu.webp" alt="AOTU" width="109" height="24" />
                            </a>
                            <!-- Footer Content -->
                            <div>
                                <!-- Footer About Text -->
                                <div class="lg:max-w-[320px]">
                                    Somos expertos en importación desde China. Te ayudamos a encontrar proveedores confiables, gestionar la logística y manejar toda la documentación..
                                </div>
                                <!-- Footer Mail -->
                                <a href="mailto:info@aotuconsulting.com" class="my-6 block underline-offset-4 transition-all duration-300 hover:underline">info@aotuconsulting.com</a>
                                <!-- Footer Social Link -->
                                <div class="flex flex-wrap gap-5">
                                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" class="flex h-[30px] w-[30px] items-center justify-center rounded-full bg-[#de0000]/10 text-sm text-[#de0000] transition-all duration-300 hover:bg-[#de0000] hover:text-white" aria-label="linkedin">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                    <a href="https://www.instagram.com/cecienchina" target="_blank" rel="noopener noreferrer" class="flex h-[30px] w-[30px] items-center justify-center rounded-full bg-[#de0000]/10 text-sm text-[#de0000] transition-all duration-300 hover:bg-[#de0000] hover:text-white" aria-label="instagram">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Widget Item -->
                        <div class="flex flex-col gap-y-7 md:col-span-1 lg:col-span-1">
                            <div class="text-xl font-semibold capitalize">
                                Empresa
                            </div>
                            <ul class="flex flex-col gap-y-[10px] capitalize">
                                <li>
                                    <a href="/" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Inicio</a>
                                </li>
                                <li>
                                    <a href="/precios" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Planes y Precios</a>
                                </li>
                                <li>
                                    <a href="/servicios-importacion/" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Servicios</a>
                                </li>
                                <li>
                                    <a href="mailto:hola@aotu.app" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Contacto</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Footer Widget Item -->
                        <div class="flex flex-col gap-y-6 md:col-span-1 lg:col-span-1">
                            <div class="text-xl font-semibold capitalize">
                                Servicios
                            </div>
                            <ul class="flex flex-col gap-y-[10px] capitalize">
                                <li>
                                    <a href="/servicios-importacion/" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Búsqueda de Proveedores</a>
                                </li>
                                <li>
                                    <a href="/servicios-importacion/" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Control de Calidad</a>
                                </li>
                                <li>
                                    <a href="/servicios-importacion/" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Logística Internacional</a>
                                </li>
                                <li>
                                    <a href="/servicios-importacion/" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Gestión Aduanera</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Footer Widget Item -->
                        <div class="flex flex-col gap-y-6 md:col-span-1 lg:col-span-1">
                            <div class="text-xl font-semibold capitalize">
                                Legal
                            </div>
                            <ul class="flex flex-col gap-y-[10px] capitalize">
                                <li>
                                    <a href="#" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Términos y Condiciones</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Política de Privacidad</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:text-[#de0000] underline-offset-4 opacity-80 transition-all duration-300 ease-linear hover:underline">Preguntas Frecuentes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Línea divisoria -->
        <div class="h-px bg-[#de0000]/10"></div>
        <!-- Footer Bottom -->
        <div class="py-[18px]">
            <div class="container-default">
                <div class="text-center text-gray-600">
                    &copy; Copyright 2025, Todos los derechos reservados por AOTU
                </div>
            </div>
        </div>
    </div>
</footer>