<!--...::: Header Start :::... -->
<header class="site-header site-header--absolute is--white py-3" id="sticky-menu">
    <div class="container-default">
        <div class="flex items-center justify-between gap-x-8">
            <!-- Header Logo -->
            <a href="/" class="">
                <img src="/assets/img/logo-aotu.webp" alt="AOTU" width="109" height="24" />
            </a>

            <!-- Header Navigation -->
            <div class="menu-block-wrapper">
                <div class="menu-overlay"></div>
                <nav class="menu-block" id="append-menu-header">
                    <div class="mobile-menu-head">
                        <div class="go-back">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="site-menu-main">
                        <li class="nav-item">
                            <a href="/" class="nav-link-item">Inicio</a>
                        </li>
                        <!--<li class="nav-item">
                            <a href="/quienes-somos" class="nav-link-item">Quienes somos</a>
                        </li>-->
                        <li class="nav-item">
                            <a href="/servicios-importacion" class="nav-link-item">Servicios</a>
                        </li>
                         <li class="nav-item">
                            <a href="/precios" class="nav-link-item">Precios</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://cecienchina.beehiiv.com/" class="nav-link-item">Newsletter</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header User Event -->
            <div class="flex items-center gap-6">
                <a href="https://dash.aotu.app/auth/sign-in" class="btn-text hidden hover:underline sm:inline-block">Iniciar sesión</a>
                <a href="#tally-open=n0DJbZ&tally-layout=modal&tally-align-left=1&tally-hide-title=1&tally-emoji-text=👋&tally-emoji-animation=wave&tally-auto-close=0" class="btn is-black group hidden rounded sm:inline-block"><span>Comenzar</span></a>
                <!-- Responsive Offcanvas Menu Button -->
                <div class="block lg:hidden">
                    <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>